@import "tailwindcss";
:root {
  --bs-body-font-family: "Roboto", Inter, Arial, sans-serif;
  color: #fff;
  background: #000;
}
body {
  margin: 0;
  font-family: var(--bs-body-font-family);
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
